{% extends "app/layout.html" %}
{% block content %}
<style>
.navbar {
    top: -70px;
}
</style>

{% if user.is_authenticated %}

<div class="container">
<div style="float: left;">
{% if chosen_semester and chosen_year %}    
    <h1>{{ title }}</h1>
    <h3>{{ chosen_semester }}, {{ chosen_year }}</h3>   
{% else %}
    <h1>{{ title }}</h1>
    <br /> <h3>Please choose a semester...</h3>
{% endif %}
</div>

        <div id="view_schedule" style="text-align:right;">

            <form method="POST">
            {% csrf_token %}
            <label>Semester
                <select name="semester" class="form-control">
                    <option selected disabled>Select Semester</option>
                    <option value="Fall">Fall</option>
                    <option value="Winter">Winter</option>
                    <option value="Summer">Summer</option>
                </select>
            </label>
            <label>Year
                <select name="year" class="form-control">
                    <option selected disabled>Select Year</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </label>
            <label><br/>
                <button type="submit" class="btn btn-success btn-md" name="view">View</button>
            </form>
        </div>
    </div>
      {% if error %}
      <div class="alert alert-danger">
           <a href="login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
           <strong>Error!</strong> {{ error }}
      </div>
    {% else %}
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info!</strong> Choose a semester/year and select your preferred courses then click 'generate' to automatically build your schedule!
        </div>
      {% endif %}
    <div class="container">
          {% if suggested_sequence %}
        <div style="float: left; margin-right:45px">
            <h4>Suggested sequence:</h4>
                {% for suggested in suggested_sequence  %}
                <li> {{ suggested.cid }}</li>
                {% endfor %}
        </div>
          {% endif %}
          {% if courses_available %}
        <div class="container">
              <form action="/workshop/" role="form" method="POST" id="generate">
                {% csrf_token %}
                  <br /><br /><br /><br /><br /><br /><br />
                  <div class="well well-sm pre-scrollable" style="margin-left:-30px">
                  <p><u>Available courses</u> for {{ chosen_semester }} {{ chosen_year }}:</p>                  
                  {% for course in courses_available %}
                  <p style="text-indent: 5em;"><input type="checkbox" name="add" value="{{ course.cid }}"> {{ course.cid }}<p>
                  {% endfor %}
                  </div>
                  <br />
                  <h4>Constraints:</h4>
                  <p style="text-indent: 5em;"><u>Days of Week</u>:
                  <input type="checkbox" name="day" value="0" checked> Online
                  <input type="checkbox" name="day" value="1" checked> Monday
                  <input type="checkbox" name="day" value="2" checked> Tuesday
                  <input type="checkbox" name="day" value="3" checked> Wednesday
                  <input type="checkbox" name="day" value="4" checked> Thursday
                  <input type="checkbox" name="day" value="5" checked> Friday</p>
                  <p style="text-indent: 5em;"><u>Classes</u>:
                  <input type="checkbox" name="classes" value="morning" checked> Morning Classes
                  <input type="checkbox" name="classes" value="afternoon" checked> Afternoon Classes
                  <input type="checkbox" name="classes" value="evening" checked> Evening Classes
                  <input type="checkbox" name="classes" value="summer" checked> Summer Classes</p>
                  <br />
                  <button type="submit" class="btn btn-primary btn-md" form="generate" name="generate" value="generate">Generate</button>
              </form>
            </div>
    </div>
          {% else %}
          {% endif %}

{% else %}
    <div class="alert alert-danger">
         <a href="login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <strong>Error!</strong> Please log into your account to build your schedule!
    </div>
{% endif %}

{% endblock %}
