{% extends "app/layout.html" %}
{% block content %}
<style>
.navbar {
    top: -70px;
}
</style>

{% if user.is_authenticated %}

<h2>{{ title }}</h2>

  {% if suggested_sequence %}
  <div>
      <form action="/workshop/" role="form" method="POST" id="semester">
      {% csrf_token %}
      <label>Semester
          <select name="semester" class="form-control">
              <option selected disabled>Select Semester</option>
              <option value="Fall">Fall</option>
              <option value="Winter">Winter</option>
              <option value="Summer">Summer</option>
          </select>
      </label>
      <label>Year
          <select name="year" class="form-control">
              <option selected disabled>Select Year</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
          </select>
      </label>
      <label><br/>
          <button type="submit" class="btn btn-success btn-md" name="view">View</button>
      </form>
  </div>
  <form action="/workshop/" role="form" method="POST" id="gensched">
    {% csrf_token %}
    <button type="submit" class="btn btn-default" form="gensched" name="gensched" value="gensched">Generate</button>
  </form>
  {% if semester %}
  <p>Suggested sequence for {{ semester }} {{ year }}:</p>
      {% for course in suggested_sequence %}
      <form action="/workshop/" role="form" method="POST" id="addcourse">
      {% csrf_token %}
      <p>{{ course.cid }}
        <button type="submit" class="btn btn-success" form="addcourse" onClick="this.form.submit(); this.disabled=true; this.value='add';" name="{{ course.cid }}" value="add">Add</button></p>
      {% endfor %}
      </form>
  {% else %}
  {% endif %}
  {% endif %}
  {% if constraints %}
    <form action="/workshop/" role="form" method="POST" id="constraints">
      {% csrf_token %}
      <table>
        <tr><td>Days of Week:</td></tr>
        <tr><td><input type="checkbox" name="monday" value="monday" checked> Monday</td></tr>
        <tr><td><input type="checkbox" name="tuesday" value="tuesday" checked> Tuesday</td></tr>
        <tr><td><input type="checkbox" name="wednesday" value="wednesday" checked> Wednesday</td></tr>
        <tr><td><input type="checkbox" name="thursday" value="thursday" checked> Thursday</td></tr>
        <tr><td><input type="checkbox" name="friday" value="friday" checked> Friday</td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td><input type="checkbox" name="morning" value="morning" checked> Morning Classes</td></tr>
        <tr><td><input type="checkbox" name="afternoon" value="afternoon" checked> Afternoon Classes</td></tr>
        <tr><td><input type="checkbox" name="evening" value="evening" checked> Evening Classes</td></tr>
        <tr><td><input type="checkbox" name="summer" value="summer" checked> Summer Classes</td></tr>
        <tr><td><input type="checkbox" name="split" value="split" checked> Split Lectures</td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td>Location:</td></tr>
        <tr><td><input type="checkbox" name="sgw" value="sgw" checked> Sir George Williams (Downtown)</td></tr>
        <tr><td><input type="checkbox" name="online" value="online"> Online</td></tr>
        <tr><td></td></tr>
        <tr><td><button type="submit" class="btn btn-default btn-xs" form="constraints" value="generate">Generate</button></td></tr>
      </table>
    </form>
  {% endif %}

    {% if suggested_sequence %}

    {% endif %}

    {% if prerequisites %}
    <p>Prerequisites:</p>

        {% for prereq in prerequisites %}
            <li>{{ prereq.pid }} , {{ prereq.rid }}</li>
        {% endfor %}

    {% else %}
    {% endif %}

{% else %}
    <p class="lead">Please log into your account to build your schedule</p>
{% endif %}

{% endblock %}
