{% extends "app/layout.html" %}
{% block content %}
<style>
.navbar {
    top: -70px;
}
</style>

{% if user.is_authenticated %}

<h2>{{ title }}</h2>

  {% if suggested_sequence %}
  <div>
      <form action="/workshop/" role="form" method="POST" id="semester">
      {% csrf_token %}
      <label>Semester
          <select name="semester" class="form-control">
              <option selected disabled>Select Semester</option>
              <option value="Fall">Fall</option>
              <option value="Winter">Winter</option>
              <option value="Summer">Summer</option>
          </select>
      </label>
      <label>Year
          <select name="year" class="form-control">
              <option selected disabled>Select Year</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
          </select>
      </label>
      <label><br/>
          <button type="submit" class="btn btn-success btn-md" name="view">View</button>
      </form>
  </div>
  {% if error %}
  <div class="alert alert-danger">
       <a href="login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
       <strong>Error!</strong> {{ error }}
  </div>
  {% else %}
  {% if chosen_semester %}
      <form action="/workshop/" role="form" method="POST" id="constraints">
        {% csrf_token %}
          <p>Suggested sequence for {{ chosen_semester }} {{ chosen_year }}:</p>
          {% for course in suggested_sequence %}
          <p><input type="checkbox" name="add" value="{{ course.cid }}"> {{ course.cid }}<p>
          {% endfor %}
          <p>Days of Week:
          <input type="checkbox" name="day" value="1" checked> Monday
          <input type="checkbox" name="day" value="2" checked> Tuesday
          <input type="checkbox" name="day" value="3" checked> Wednesday
          <input type="checkbox" name="day" value="4" checked> Thursday
          <input type="checkbox" name="day" value="5" checked> Friday</p>
          <p>Classes:
          <input type="checkbox" name="classes" value="morning" checked> Morning Classes
          <input type="checkbox" name="classes" value="afternoon" checked> Afternoon Classes
          <input type="checkbox" name="classes" value="evening" checked> Evening Classes
          <input type="checkbox" name="classes" value="summer" checked> Summer Classes</p>
          <button type="submit" class="btn btn-default" form="constraints" name="constraints" value="constraints">Generate</button>
      </form>
  {% else %}
  {% endif %}
  {% endif %}
  {% endif %}

{% else %}
    <div class="alert alert-danger">
         <a href="login" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         <strong>Error!</strong> Please log into your account to build your schedule!
    </div>
{% endif %}

{% endblock %}
