{% extends "app/layout.html" %}
{% block content %}
<style>
.navbar {
    top: -50px;
}
</style>
{% if user.is_authenticated %}

<script>
    function draw_schedule(input_courses) {
        schedule_table = document.getElementById("schedule_table");
        courses = {{ json_courses_registered | safe }}
        colors = ["#9dd6d6", "orange", "#ff69b4", "#969696","#c3cb71", "#c7bbc9", "#83adb5", "#eb6841", "#559e83", "#edc951", "#e30074", "#ab8f8f", "#296967", "#ba3737", "#86d2dd", "#92c256"]

        //to remove
        console.log(courses);

        for (i in courses) {

            //timeslot1
            start_hour = courses[i].fields.timeslot1[1].substring(0,2);
            if (start_hour.startsWith('0')) {start_hour = start_hour[1];};

            day = courses[i].fields.timeslot1[0];

            start = $(schedule_table).find("tr:contains('" + start_hour + ":00" +"')");
            if (!start_hour.startsWith('0') && start[0] != undefined) {
                start_minutes = courses[i].fields.timeslot1[1].substring(3,5);

                for (j = 0; j < parseInt(start_minutes)/15; j++) {
                    start = start.next();
                }
                $(start).find('td')[day-1].style.backgroundColor = colors[i];

                end_hour = courses[i].fields.timeslot1[2].substring(0,2);
                if (end_hour.startsWith('0')) {end_hour = end_hour[1];};

                end = $(schedule_table).find("tr:contains('" + end_hour + ":00" +"')");

                if (end[0] != undefined) {
                end_minutes = courses[i].fields.timeslot1[2].substring(3,5);
                for (j = 1; j < parseInt(end_minutes)/15; j++) {
                        end = end.next();
                    }
                    $(end).find('td')[day-1].style.backgroundColor = colors[i];
                }
                m = 0;
                do {
                    m++;
                    end = end.prev();
                    $(end).find('td')[day-1].style.backgroundColor = colors[i];
                } while (!end.is(start));

                center = start;

                for (k = 1; k < m /2; k++) {
                center = center.next();
                }

                $(center).prev().find('td')[day-1].innerHTML = courses[i].fields.cid + ' (' + courses[i].fields.type + ')';
                $(center).find('td')[day-1].innerHTML = courses[i].fields.sid;
                $(center).next().find('td')[day-1].innerHTML = courses[i].fields.lecturer;

            }

           //same code as above for timeslot2
            start_hour = courses[i].fields.timeslot2[1].substring(0,2);
            if (start_hour.startsWith('0')) {start_hour = start_hour[1];};

            day = courses[i].fields.timeslot2[0];
            start = $(schedule_table).find("tr:contains('" + start_hour + ":00" +"')");

            if (!start_hour.startsWith('0') && start[0] != undefined) {
                start_minutes = courses[i].fields.timeslot2[1].substring(3,5);

                for (j = 0; j < parseInt(start_minutes)/15; j++) {
                    start = start.next();
                }
                $(start).find('td')[day-1].style.backgroundColor = colors[i];

                end_hour = courses[i].fields.timeslot2[2].substring(0,2);
                if (end_hour.startsWith('0')) {end_hour = end_hour[1];};

                end = $(schedule_table).find("tr:contains('" + end_hour + ":00" +"')");

                if (end[0] != undefined) {
                end_minutes = courses[i].fields.timeslot2[2].substring(3,5);
                for (j = 1; j < parseInt(end_minutes)/15; j++) {
                        end = end.next();
                    }
                    $(end).find('td')[day-1].style.backgroundColor = colors[i];
                }

                m = 0;
                do {
                    m++;
                    end = end.prev();
                    $(end).find('td')[day-1].style.backgroundColor = colors[i];
                } while (!end.is(start));

                center = start;

                for (k = 1; k < m / 2 ; k++) {
                center = center.next();
                }

                $(center).prev().find('td')[day-1].innerHTML = courses[i].fields.cid + ' (' + courses[i].fields.type + ')';
                $(center).find('td')[day-1].innerHTML = courses[i].fields.sid;
                $(center).next().find('td')[day-1].innerHTML = courses[i].fields.lecturer;

            }

        }
    };

    window.onload = function () {
        draw_schedule();
    };
</script>

{% if chosen_semester and chosen_year %}
    <h2> {{ chosen_semester }}, {{ chosen_year }}</h2>
{% else %}
    <h2>Please choose a semester...</h2>
{% endif %}

        <div class="container"  style="text-align:right">
            <form method="POST">
            {% csrf_token %}
            <label>Semester
                <select name="semester" class="form-control">
                    <option selected disabled>Select Semester</option>
                    <option value="Fall">Fall</option>
                    <option value="Winter">Winter</option>
                    <option value="Summer">Summer</option>
                </select>
            </label>
            <label>Year
                <select name="year" class="form-control">
                    <option selected disabled>Select Year</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                </select>
            </label>
            <label><br/>
                <button type="submit" class="btn btn-success btn-md" name="view">View</button>
            </form>
        </div>
        <div class="container">
            <table id="schedule_table" class="table table-bordered table-striped" style="font-family:verdana;">
                <tr class="info">
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;" class="active">8:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;">9:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;" class="active">10:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;">11:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;" class="active">12:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;">13:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;" class="active">14:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;">15:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;" class="active">16:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;">17:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;" class="active">18:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;">19:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;" class="active">20:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;">21:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="4" style="vertical-align: middle;" class="active">22:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th rowspan="2" style="vertical-align: middle;">23:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

{% else %}
    <p class="lead">Please log into your account to view your schedule</p>
{% endif %}

{% if timeslots %}
    <p>Test all timeslots:</p>

        {% for timeslot in timeslots %}
            <li>id: {{ timeslot.id }}, starthour: {{ timeslot.starthour }} , endhour: {{ timeslot.endhour }}, day: {{ timeslot.day }}</li>
        {% endfor %}

    {% else %}
{% endif %}

{% endblock %}
