{% extends "app/layout.html" %}
{% block content %}
<style>
.navbar {
    top: -70px;
}  
</style>
{% if user.is_authenticated %}    

<h2>{{ title }}</h2><form method="post">{% csrf_token %}<button type="submit" class="btn btn-success btn-xs">Download PDF</button></form>
    <div style="text-align:right">
                    {{ date }}
                </div>

    {% if completed_courses %}
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Course ID</th>
                        <th>Semester</th>
                        <th>Year</th>
                        <th>Grade</th>
                    </tr>
                </thead>

                <tbody>
                    {% for course in completed_courses %}
                    <tr>
                        <td>{{ course.cid }}</td>
                        <td>{{ course.semester }}</td>  
                        <td>{{ course.year }}</td>
                        <td>{{ course.grade }}</td>   
                    </tr>
                    {% endfor %}   
                </tbody>
            </table>    
    {% else %}
        <p class="lead">No courses completed.</p>
    {% endif %}

{% else %}
    <p class="lead">Please log into your account to view your schedule</p>
{% endif %}

{% endblock %}
