{% extends "app/layout.html" %}

{% block content %}
{% load staticfiles %}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <a href="\"><img src="{% static 'app/images/logo.png' %}" class="img-rounded" width="400"/></a>
        </div>
        <div class="col-md-4">
             <p><br />Lotus is a schedule generator for Software Engineering students.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Lotus allows you to plan your entire curriculum at once, select the semesters you want and decide the times when you have classes.
        </p>
        <p><a class="btn btn-default" href="about.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Course Sequence</h2>
        <p>BLA BLA BLA about course sequence.</p>
        <p><a class="btn btn-default" href="https://www.concordia.ca/encs/students/sas/undergrad-program-info/course-sequences/software.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Prerequisites</h2>
        <p>Bla Bla Bla about prerequisites.</p>
        <p><a class="btn btn-default" href="http://www.concordia.ca/academics/undergraduate/calendar/current/sec71/71-70.html">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
