{% extends "app/layout.html" %}
{% block content %}


{% if user.is_authenticated %} 

<div class="row">
    <br />
    <h2>{{ title }}</h2>
    <h3>{{ message }}</h3>

    {% if student_name %}
                <ul>
                    <li>{{ student_name.firstname }}</li>
                </ul>
            {% else %}
                <strong>There are no students present.</strong>
            {% endif %}

</div>
{% else %}
    <p class="lead">Please log into your account to view your schedule</p>
{% endif %}


{% endblock %}