{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>

<h3>Concordia University</></h3>

<address class="row" style="margin-left:7px">
        <span class="glyphicon glyphicon-map-marker"></span> 7141 Rue Sherbrooke O,<br />
        Montreal, QC H4B 1R6<br /><br />
        <span class="glyphicon glyphicon-phone-alt"></span> (514) 848-2424<br />
        <span class="glyphicon glyphicon-question-sign"></span><a href="mailto:lotusadmin@gmail.com"> lotusadmin@gmail.com</a>
</address>

{% endblock %}
