{% extends "app/layout.html" %}
{% block content %}

{% if user.is_authenticated %}

<h2>{{ title }}</h2>

    {% if suggested_sequence %}
    <p>Suggested sequence:</p>

        {% for course in suggested_sequence %}
            <li>{{ course.cid }} , {{ course.semester }}, {{ course.year }}</li>
        {% endfor %}

    {% else %}
    {% endif %}

    {% if prerequisites %}
    <p>Prerequisites:</p>

        {% for prereq in prerequisites %}
            <li>{{ prereq.pid }} , {{ prereq.rid }}</li>
        {% endfor %}

    {% else %}
    {% endif %}

{% else %}
    <p class="lead">Please log into your account to build your schedule</p>
{% endif %}

{% endblock %}
